@model POST.Models.Shipment

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Customer1/Views/Shared/_CustomerLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Shipment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Infor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Infor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_Receive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_Receive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Delivered_By)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Delivered_By)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
